<%- include('../partials/header.html.ejs') %>
    <div id="correct">
        <p>Correct!</p>
    </div>
    <div id="incorrect">
        <p>Incorrect!</p>
    </div>
    <div class="question">
        <h3>Question <%= question %></h3>

        <img id="country-img" src="https://ramiro.org/img/country_shapes/<%= country["abbreviation"].toLowerCase() %>.svg" alt="">
        <p>What country is this?</p>
        <br>
        <% if (difficultyLevel == "hard") { %>
            <input id="answer" class="text-input" type="text" autofocus>
        <% } else if (difficultyLevel == "med") { %>
            <% answers.forEach(a => { %>
                <input class="answer-btn" type="button" value="<%= a["country"] %>" 
                    onclick="resolveAnswer('<%= id %>', '<%= a["country"] %>')">
            <% }) %>
        <% } %>
    </div>

    <br>
    
    
<%- include('../partials/footer.html.ejs') %>